.FirstSection {
    background-color: #219ebc;
    height: 100vh;
}

.Avatar:hover {
    opacity: 0.4;
    transition: 1s;
}

.Avatar {
    width: 360px;
    height: 65%;
    margin-top: 80px;
    margin-left: 50px;
    border-radius: 2cm;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

@media (max-width:899.20px) {
    .Avatar {
        width: 50%;
        height: auto;
    }
}

@media (max-width:1450px) {
    .Avatar {
        opacity: 0.5;
    }
}