.FirstThird {
    height: 100vh;
    background: linear-gradient(-45deg, #4158D0, #00F6FF, #70FF8D, #F4FF03);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}


.JumpButton {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
 
    50% {
        background-position: 100% 50%;
    }
 
    100% {
        background-position: 0% 50%;
    }}

.Avatar {
    width: 360px;
    height: 65%;
    margin-top: 80px;
    margin-left: 50px;
    border-radius: 2cm;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}


@media (max-width: 1200px) {
    .HorizontalLogos {
        display: none;
    }
}

@media (min-width: 1200px) {
    .VerticalLogos {
        display: none;
    }
}

@media (max-width:1086px) {
    .Avatar {
        opacity: 0.5;
    }
    .body {
        transition: 1;
    }
}

@media (max-width:899.20px) {
    .Avatar {
        width: 50%;
        height: auto;
        margin: 0px;
        padding: 0px;
    }
    .FirstThird {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 50%;

    }
    .JumpButton {
        display: none;
    }
    .Avatar {
        opacity: 1;
    }
}
