.ProjectSection {
    display: flex;
    justify-content: center;
}

.SecondSection {
    background: linear-gradient(-45deg, #4158D0, #00F6FF, #70FF8D, #F4FF03);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
 
    50% {
        background-position: 100% 50%;
    }
 
    100% {
        background-position: 0% 50%;
    }}